<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
    <nav class="navbar bg-primary navbar-expand-sm">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#sai">
    
        <span class="navbar-toggler-icon">&#9776;</span>
    </button>
    <div class="collapse navbar-collapse" id="sai">
    <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link navbar-brand"> <h3 class="text-light">Flipkart</h3></a></li>
         <p class="p1">explorer</p>
         <p class="p2">plus</p>
         <li class="nav-item">
            <form class="form-inline" method="get">
                <div class="form-group">
    <input type="text" placeholder="search....." name="search" id="input1" class="input1 form-control">
    
                </div>
                <button class="btn">sai</button>
            </form>
           
         </li>
         <li class="nav-item"><a href="#" class="nav-link my-2"><strong>BECOME A Seller</strong></a></li>
         <li class="nav-item dropdown">
            <a href="#" class="nav-link my-2 dropdown-toggle" data-toggle="dropdown"><strong class="s1">More</strong>
            <div class="dropdown-menu">
    <a href="#" class="dropdown-item">Discounts</a>
            </div>
            </a></li>
    </ul>
    </div>
    </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
    
    <div class="bg-light" id="sai">       
        <ul class="nav">
       <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/i1.webp" width="90px"><br><p class="ml-3 text-dark " style="font-size: 16px;"> Grocery</p></a></li>
       <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/k.webp" width="90px"><p class="ml-3 text-dark " style="font-size: 16px;">mobiles</p></a></li>
       <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/i3.webp" width="90px"><p class="ml-3 text-dark " style="font-size: 16px;">fashion</p></a></li>
       <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/i4.webp" width="90px"><p class="ml-3 text-dark " style="font-size: 16px;">Electronics</p></a></li>
       <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/i5.webp" width="90px"><p class="ml-3 text-dark " style="font-size: 16px;">Home</p></a></li>
       <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/i6.webp" width="90px"><p class="ml-3 text-dark " style="font-size: 16px;">Appliances</p></a></li>
       <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/i7.webp" width="90px"><p class="ml-3 text-dark " style="font-size: 16px;">Travel</p></a></li>
       <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/i8.webp" width="90px"><p class="ml-3 text-dark " style="font-size: 16px;">Top offer</p></a></li>
       <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/i9.webp" width="90px"><p class="ml-3 text-dark " style="font-size: 16px;">Beauty,Toys</p></a></li>
       <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/i10.webp" width="90px"><p class="ml-3 text-dark " style="font-size: 16px;">Two Wheelers</p></a></li>
    </ul>
    
    </div>
    </div>
    </div> 
<div class="row" >
    <div class="col-sm-12">
        <div class="carousel slide" data-interval="1000" data-ride="carousel" id="ok">
<div class="carousel-inner">
    <div class="carousel-item active">
<img src="../assets/mn.jpg" alt="">
    </div>
    <div class="carousel-item">
        <img src="../assets/mn.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img src="../assets/mm.jpg" alt="">
                    </div>


</div>
<a href="#ok" class="carousel-control-prev" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
</a>
<a href="#ok" class="carousel-control-next" data-slide="next">
    <span class="carousel-control-next-icon"></span>
</a>
        </div>

    </div>
</div>

</body>
</html>