.navbar{
    padding: 10px;
}
.p1{
margin-left: -116px;
margin-top: 35px;
}
.p2{
    margin-left:3px;
    margin-top: 35px;
    color: yellow;
}
.btn{
    margin-top: -65px;
    background-color: black;
    color: aliceblue;
    margin-left: 94px;
}
.input1{
    margin-top: 10px;
    margin-left: 140px;
}
strong{
    margin-left: 180px;
    color: aliceblue;
}
.s1{
    margin-left: 40px;
}


